body {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(79, 35, 133);
    color: white;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

main h1 {
    text-align: center;
}

header nav {
    display: flex;
}

header nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 10px;
    margin-right: 2rem;
}

header nav a:hover {
    opacity: 0.8;
    color: goldenrod;
}

main {
    padding: 20px;
    text-align: center; /* Keep this for the h1 and figcaption */
    display: grid;
    grid-template-columns: 1fr; /* Single column for mobile */
    gap: 20px;
    justify-items: center; /* Center the grid items (figures) horizontally */
}

figure {
    margin-bottom: 0; /* Remove default figure margins as grid gap is handling spacing */
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block; /* Prevent extra space below inline images */
    margin-bottom: 5px; /* Add some space between image and caption */
}

figcaption {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}

footer {
    background-color: rgb(79, 35, 133);
    color: #ecf0f1;
    padding: 15px;
    text-align: center;
    font-size: 0.99em;
    max-width: 100%;
    margin-top: 20px;
}

#lastModified {
    color: #c9ff07;
}